.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  min-height: 32px;
  padding: 6px 10px;
  box-sizing: border-box;
  white-space: nowrap;
  &.btn-wide{
    display: flex;
  }
  &.primary{
    color: #ffffff;
    background-color: $primary;
    &.disabled{
      // background-color: $gray02;
    }
    &:hover{
      background-color: #0048A5;
    }
  }
  &.secondary{
    color: $primary;
    border: 1px solid $primary;
    &.disabled{
      // color: $gray03;
      // background-color: $gray01;
    }
    &:hover{
      background-color: #E3E3E3;
    }
  }
  &.tertiary{
    color: #777777;
    background-color: transparent;
    border: 1px solid #dddddd;
    &:hover{
      color: #0048a5;
    }
  }
  &.black-border{
    border: 1px solid #777777;
  }
  &.disabled{
    cursor: default;
  }
  i.prefix{
    margin-right: 3px;
  }
  i.suffix{
    margin-left: 3px;
  }
}

//tablet
@media all and (max-width: 1280px) {

}