.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  min-height: 32px;
  padding: 5px 10px;
  box-sizing: border-box;
  white-space: nowrap;
  &.btn-wide{
    display: flex;
  }
  &.primary{
    color: #ffffff;
    background-color: $primary;
    &.disabled{
      background-color: #eeeeee !important;
      color: #aaaaaa;
    }
    &:hover{
      background-color: #0048A5;
    }
  }
  &.secondary{
    color: $primary;
    border: 1px solid $primary;
    &:hover{
      background-color: #E3E3E3;
    }
    &.disabled{
      background-color: #ffffff !important;
      color: #aaaaaa;
      border-color: #aaaaaa;
    }
  }
  &.tertiary{
    color: #777777;
    background-color: transparent;
    border: 1px solid #dddddd;
    font-weight: 400;
    &:hover{
      color: #0048a5;
    }
    &.disabled{
      background-color: #ffffff !important;
      color: #aaaaaa;
      border-color: #dddddd;
    }
  }
  &.black-border{
    border: 1px solid #777777;
    &.disabled{
      background-color: #eeeeee !important;
      color: #aaaaaa;
    }
  }
  &.black{
    background-color: #333;
    color: #FFF;
  }
  &.disabled{
    cursor: default;
  }
  i.prefix{
    margin-right: 3px;
  }
  i.suffix{
    margin-left: 3px;
  }
  &.text-link{
    font-size: 13px;
    font-weight: 700;
    color: $primary;
    &:hover{
      text-decoration: underline;
    }
    &.disabled{
      color: #aaaaaa;
      &:hover{
        text-decoration: none;
      }
      .icon-link{
        background-image: url('../images/icon_url_disabled.png');
      }
    }
  }
  &.size-sm{
    min-height: 22px;
    font-size: 11px;
    padding: 4px 6px;
  }
  // 공통 사이즈 class
  @for $i from 1 through 50 {
    &.w-#{10*$i} {
      min-width: #{10*$i}px;
      width: #{10*$i}px;
    }
  }
}

//tablet
@media all and (max-width: 1280px) {

}