.react-calendar{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: 10px;
  .tooltip {
    position: fixed;
    display: inline-block;
    width: 200px;
    background-color: #FFF;
    color: #777;
    font-size: 13px;
    text-align: left;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #256ad9;
    pointer-events: none;
    z-index: 1000;
    .tooltip-wrap{
      >div{
        margin-bottom: 10px;
        .label{
          color: #333;
          font-weight: 700;
          margin-right: 4px;
        }
        &.title{
          white-space: wrap;
        }
        &.time{
          > span{
            display: inline-block;
          }
        }
      }
    }
  }
  .gts-calendar-toolbar{
    display: flex;
    position:relative;
    border-top: 1px solid #DDD;
    padding-top: 10px;
    .prefix{
      display: flex;
      flex: 1 1 50%;
      align-items: flex-end;
    }
    .center{
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
    .suffix{
      flex: 1 1 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .btn + .btn{
        margin-left: 5px;
      }
    }
    button{
      width: 44px;
      height: 24px;
      padding: 5px 10px;
      border-radius: 4px;
      border: solid 1px #ddd;
      background-color: #fff;
      font-size: 11px;
      color: #777;
      &.gts-calendar-prev-month, 
      &.gts-calendar-next-month{
        border: 0;
        font-size: 14px;
        padding: 0;
        width: 24px;
      }
      &.gts-calendar-prev-month{
        margin-right: 20px;
      }
      &.gts-calendar-next-month{
        margin-right: 10px;
      }
    }
    .today-label{
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
    .icon-calendar{
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .work-label{
    display: flex;
    align-items: center;
    width: 100%;
    height: 24px;
    font-size: 13px;
    padding: 4px 8px;
    margin: 4px 0;
    overflow: hidden;
    border-radius: 4px;
    color: #333;
    box-sizing: border-box;
    &:last-child{
      margin-bottom: 0;
    }
    .label-flex{
      display: flex;
      align-items: center;
      width: 100%;
      .title{
        flex: 1 1 auto;
        margin-right: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  
//emotion css 로 변환 여기부터 -->
  .react-calendar__tile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    flex-direction: column;
    border: 1px solid #DDD;
    border-width: 0 1px 1px 0;
    background-color: #FFF;
    height: 125px;
    text-align: left;
    &:nth-of-type(7n+1){
      border-left: 1px solid #DDD;
    }
    &:nth-last-of-type(1){
      border-bottom-right-radius: 4px;
    }
    &:nth-last-of-type(7){
      border-bottom-left-radius: 4px;
    }
    abbr{
      color: #777;
    }
    > div{
      width: 100%;
      flex: 1 1 auto;
      margin-top: 2px;
      .work-label{
        display: flex;
        align-items: center;
        height: 24px;
        font-size: 13px;
        padding: 4px 8px;
        margin: 4px 0;
        overflow: hidden;
        width: 100%;
        border-radius: 4px;
        color: #333;
        box-sizing: border-box;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .react-calendar__month-view{
    border-radius: 4px;
    overflow: hidden;
    .react-calendar__month-view__weekdays{
      .react-calendar__month-view__weekdays__weekday{
        background-color: #4c556b;
        color: #FFF;
        font-size: 13px;
        font-weight: 700;
        padding: 6px 0;
        text-align: center;
      }
    }
    .react-calendar__tile--active {
      background-color: white;
      color: #000000;
    }
  
    .react-calendar__tile--now {
      background-color: #f4f8fc;
      color: black;
    }
  
    .react-calendar__month-view__weekdays {
      font-weight: bold;
      border-bottom: 1px solid #dddddd;
      background-color: #f4f4f4;
    }
  
    .react-calendar__month-view__weekdays__weekday {
      border-right: 1px solid #777;
      box-sizing: border-box;
    }
    .react-calendar__month-view__days__day--neighboringMonth{
      background-color: #f8f8f8;
    }
  }
}

// <-- 여기까지 emotion css 로 변환
.grid-wrap.task-list{
  margin-top: 30px;
  gap: 10px;
  h3{
    margin: 0 0 10px;
    font-size: 16px;
    color: #333;
  }
  .list-wrap{
    border: 1px solid #DDD;
    border-radius: 4px;
    overflow-y: auto;
    padding: 8px;
    height: 165px;
    >ul{
      .list-item{
        display: flex;
        font-size: 13px;
        padding: 6px 10px;
        border-radius: 2px;
        &:nth-of-type(odd){
          background-color: #f8f8f8;
        }
        i{
          flex: 0 0 16px;
          margin-right: 6px;
        }
        .date{
          flex: 0 0 50px;
          color: #777;
        }
        .task-title{
          flex: 1 1 auto;
          padding-right: 5px;
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .tag{
          display: inline-flex;
          height: 18px;
          width: 30px;
          justify-content: center;
          align-items: center;
          color: #FFF;
          font-size: 11px;
          background-color: lightgray;
          border-radius: 2px;
          flex: 0 0 30px;
          &.complete{
            background-color: #20bf7a;
          }
          &.incomplete{
            background-color: #ff5252;
          }
          &.progress{
            background-color: #2565d6;
          }
          &.goingto{
            background-color: #ffe32d;
          }
        }
      }
    }
  }
}
.calendar-add-schedule{
  .header{
    .btn-flag{
      margin-left: 8px;
      display: inline-block;
      vertical-align: middle;
      &.on{
        .icon-flag-square{
          background-image: url('/assets/images/icon_flag_on_square.png');
        }
      }
    }
  }
  .standard-table{
    table{
      .input-header{
        display: flex;
        margin-bottom: 2px;
        justify-content: space-between;
        align-items: flex-end;
        .suffix{
          font-size: 13px;
          color: #777;
          .count{
            color: #2565d6;
          }
        }
      }
    }
  }
}