.capsule-tab{
  display: inline-flex;
  border: 1px solid #a1acc2;
  border-radius: 4px;
  overflow: hidden;
  .tab{
    position: relative;
    padding: 6px 15px;
    font-size: 12px;
    color: #aaaaaa;
    background-color: #ffffff;
    &.on{
      color: #ffffff;
      font-weight: 700;
      background-color: #4c556b;
      cursor: default;
      &:before{
        content: none;
      }
      +.tab{
        &:before{
          content: none;
        }
      }
    }
    &:not(.on):hover{
      color: $primary;
      font-weight: 700;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      height: 11px;
      border-right: 1px solid #dddddd;
    }
    &:first-child:before{
      content: none;
    }
  }
}