.chart-doughnut{
  position: relative;
  label{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    text-align: center;
    .title{
      font-size: 10px;
    }
    .value{
      display: block;
      margin-top: 2px;
      font-size: 17px;
      font-weight: 700;
    }
  }
}

.chart-pie, .chart-bar{
  display: flex;
  .legend{
    min-width: 100px;
    margin-left: 10px;
    > ul.legend-list-wrap{
      display: flex;
      flex-direction: column;
      gap: 8px;
      .legend-item{
        display: flex;
        .color-box{
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 2px;
          margin-right: 4px;
        }
        .label-text{
          margin: 0;
          color: #333;
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }
  }
}

.bar-horizon{
  display: flex;
  position: relative;
  height: 20px;
  &:before{
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 1px;
    background-color: #777;
  }
  .bar-minus, .bar-plus{
    position: relative;
    flex: 0 0 50%;
    .bar{
      display: inline-block;
      position: absolute;
      height: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .bar-minus{
    .bar{
      right: 0;
      background-color: $danger;
    }
  }
  .bar-plus{
    .bar{
      left: 0;
      background-color: #2565d6;
    }
  }
  
}