.chart-doughnut{
  position: relative;
  label{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    text-align: center;
    .title{
      font-size: 10px;
    }
    .value{
      display: block;
      margin-top: 2px;
      font-size: 17px;
      font-weight: 700;
    }
  }
}

.chart-pie{
  display: flex;
  .legend{
    min-width: 100px;
    margin-left: 10px;
    > ul.legend-list-wrap{
      display: flex;
      flex-direction: column;
      gap: 8px;
      .legend-item{
        display: flex;
        .color-box{
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 2px;
          margin-right: 4px;
        }
        .label-text{
          margin: 0;
          color: #333;
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }
  }
}