.checklist-detail{
  .checklist-standard{
    table{
      td{
        &:nth-last-of-type(1){
          padding-left: 5px;
          padding-right: 5px;
          text-align: left;
        }
      }
    }
  }
  .trade-btn-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    .btn{
      margin: 3px 0;
    }
    .btn.to-left{
      img{
        transform: rotate(90deg);
      }
    }
    .btn.to-right{
      img{
        transform: rotate(-90deg);
      }
    }
  }
}
.checklist-detail-confirm{
  .checklist-input{
    table{
      td{
        text-align: center;
      }
    }
    .align-l{
      padding: 0 5px;
      text-align: left;
    }
  }
  .editor-content-wrap{
    border: 1px solid #dddddd;
    padding: 10px;
  }
}