input[type="checkbox"].gts-chk{
  width: 0;
  height: 0;
  margin: 0;
  & + label{
    position: relative;
    display: inline-block;
    min-height: 18px;
    padding-left: 25px;
    &:before{
      content: '';
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      left: 2px;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #dddddd;
      background-color: #ffffff;
    }
    &:hover{
      &:before{
        border: 1px solid $primary;
      }
    }
  }
  &.no-text + label{
    padding-left: 0;
    width: 18px;
    height: 18px;
  }
  &:checked + label{
    &:before{
      background-color: $primary;
      border-color: $primary;
      background-image: url('../images/icon_check.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &:disabled{
    & + label{
      &:before{
        border: 1px solid #dddddd;
        background-color: #DDD;
      }
    }
    &:checked + label{
      &:before{
        // background-image: url();
      }
    }
  }
}