html, body, input, pre, textarea{
  font-family: 'Pretendard', sans-serif;
}
abbr{
  text-decoration: none;
}
// 공통 간격용 class
@for $i from 0 through 30 {
  .mt-#{5*$i}{
    margin-top: #{5*$i}px;
  }
  .mb-#{5*$i}{
    margin-bottom: #{5*$i}px;
  }
  .mr-#{5*$i}{
    margin-right: #{5*$i}px;
  }
  .ml-#{5*$i}{
    margin-left: #{5*$i}px;
  }
  .pt-#{5*$i}{
    padding-top: #{5*$i}px;
  }
  .pb-#{5*$i}{
    padding-bottom: #{5*$i}px;
  }
  .pr-#{5*$i}{
    padding-right: #{5*$i}px;
  }
  .pl-#{5*$i}{
    padding-left: #{5*$i}px;
  }
  .mg-#{5*$i}{
    margin: #{5*$i}px;
  }
  .pd-#{5*$i}{
    padding: #{5*$i}px;
  }
}

//font-weight
.fw-bold{
  font-weight: 700;
}
.fw-regular{
  font-weight: 400;
}
.fc-red{
  color: $danger;
}

// 스크롤 스타일
body, html, div, ul{
  &::-webkit-scrollbar-thumb{
    background-color: #dddddd;
    border-radius: 4px;
    transition: all 3s;
  }
  &::-webkit-scrollbar{
    width: 4px;
    height: 8px;
    background-color: transparent;
  }
  &:hover{
    &::-webkit-scrollbar-thumb{
      background-color: #aaaaaa;
    }
    &::-webkit-scrollbar{
      background-color: #eeeeee;
    }
  }
}
