[class*=icon] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.icon-star{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_star.svg');
}
.icon-favorite-star{
  width: 24px;
  height: 24px;
  background-image: url('../images/icon_favorite_star.svg');
}
.icon-time{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_time.svg');
}
.icon-allmenu{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_allmenu.svg');
}
.icon-toggle-arrow-down{
  width: 9px;
  height: 6px;
  background-image: url('../images/icon_toggle_arrow_down.svg');
}
.icon-lnb-toggle{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_lnb_toggle.svg');
}
.icon-delete{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_delete.svg');
}
.icon-close-white{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_close_white.svg');
}
.icon-infomation{
 width: 20px;
 height: 20px;
 background-image: url('../images/icon_infomation.svg'); 
}
.icon-breadcrumb-arrow{
  width: 12px;
  height: 12px;
  background-image: url('../images/icon_breadcrumb_arrow.svg');
}
.icon-new-page{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_new_page.svg');
}
.icon-new-window{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_new_window.svg');
}
.icon-search{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_search.svg');
}
.icon-search-black{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_search_black.svg');
}
.icon-search-gray{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_search_gray.svg');
}
.icon-excel-download{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_excel_download.svg');
}
.icon-excel-upload{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_excel_upload.svg');
}
.icon-create{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_create.svg');
}
.icon-remove{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_remove.svg');
}
.icon-handler{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_handler.svg');
}
.icon-setting{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_setting.svg');
}
.icon-refresh{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_refresh.svg');
}
.icon-move{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_move.svg');
}
.icon-cloud-sunny{
  width: 121px;
  height: 100px;
  background-image: url('../images/icon_weather_cloud_sunny.svg');
}
.icon-weather-cloud-sm{
  width: 25px;
  height: 24px;
  background-image: url('../images/icon_weather_cloud_sm.svg');
}
.icon-weather-sunny-sm{
  width: 24px;
  height: 24px;
  background-image: url('../images/icon_weather_sunny_sm.svg');
}
.icon-istm{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_istm.svg');
}
.icon-app{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_app.svg');
}
.icon-memo{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_memo.svg');
}
.icon-help{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_help.svg');
}
.icon-language{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_language.svg');
}
.icon-mypage{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_mypage.svg');
}
.icon-istm-on{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_istm_hover.svg');
}
.icon-app-on{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_app_hover.svg');
}
.icon-memo-on{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_memo_hover.svg');
}
.icon-help-on{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_help_hover.svg');
}
.icon-language-on{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_language_hover.svg');
}
.icon-mypage-on{
  width: 36px;
  height: 36px;
  background-image: url('../images/icon_mypage_hover.svg');
}


.icon-fav{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_fav.svg');
}
.icon-user{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_user.svg');
}
.icon-link{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_url.svg');
}
.icon-delete-folder{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_delete_folder.svg');
}
.icon-delete-menu{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_delete.svg');
}
.icon-add-menu{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_add_menu.svg');
}
.icon-printer{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_printer.svg');
}
.icon-flag{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_flag.svg');
}
.icon-flag-square{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_flag_off_square.svg');
}
.icon-move-column{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_move_column.svg');
}
.icon-plus-lg{
  width: 50px;
  height: 50px;
  background-image: url('../images/icon_plus_lg.svg');
}
.icon-more{
  width: 16px;
  height: 16px;
  background-image: url('../images/icon_more.svg');
}
.icon-copy{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_copy.svg');
}
.icon-add-checklist{
  width: 10px;
  height: 10px;
  background-image: url('../images/icon_add_checklist.svg');
}
.icon-remove-checklist{
  width: 10px;
  height: 10px;
  background-image: url('../images/icon_remove_checklist.svg');
}
.icon-upload{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_upload.svg');
}
.icon-monitor{
  width: 20px;
  height: 20px;
  background-image: url('../images/icon_monitor.svg');
}