.input-box{
  min-width: 120px;
  input{
    width: 100%;
    display: inline-block;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #D7D7D7;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    background-color: #ffffff;
    &:focus{
      outline: none;
      border-color: $primary;
    }
    &::placeholder{
      color: $gray03;
    }
    &:disabled{
      color: #D7D7D7;
      background-color: $gray01;
    }
  }
  .btn-reset{
    display: none;
    position: absolute;
    width: 18px;
    height: 18px;
    right: 20px;
    top: 15px;
    &.show{
      display: inline-block;
    }
  }
}
.input-box-search{
  position: relative;
  input{
    width: 100%;
    display: inline-block;
    height: 54px;
    padding: 12px 95px 12px 20px;
    border: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    &:focus{
      outline: none;
    }
    &::placeholder{
      color: #C4C4C4;
    }
  }
  .btn-back{
    display: none;
  }
  .btn-reset{
    display: none;
    position: absolute;
    width: 18px;
    height: 18px;
    right: 64px;
    top: 18px;
    &.show{
      display: inline-block;
    }
  }
  .btn-search{
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 15px;
  }
}
@media all and (max-width: 1280px) {
  .input-box-search{
    margin: 0 20px;
    input{
      padding: 12px 54px 12px 20px;
    }
    .btn-back{
      position: absolute;
      display: inline-block;
      width: 24px;
      height: 24px;
      left: 20px;
      top: 15px;
    }
    .btn-reset{
      display: none;
      right: 20px;
    }
    .btn-search{
      display: none;
    }
  } 
}