input.gts-input{
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  height: $inputHeight;
  min-width: 140px;
  padding-left: 10px;
  color: #333333;
  font-size: 14px;
  &:disabled{
    background-color: #f7f7f7;
    color : #aaaaaa;
  }
  &:read-only{
    background-color: #f7f7f7;
  }
}

// 공통 사이즈 class
@for $i from 1 to 20 {
  .w-#{10*$i}{
    width: #{10*$i}px;
  }
}