.search-input{
  width: 100%;
  input{
    width: 100%;
    background-image: url('../images/icon_search_gray.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
  }
}
.search-input-with-button{
  display: flex;
  input{
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:focus{
      &+button{
        border-color: $primary;
      }
    }
  }
  button{
    border: 1px solid #dddddd;
    border-width: 1px 1px 1px 0;
    background-color: transparent;
  }
}