.layer-pop{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  min-height: 500px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
  z-index: $zindexLayerPop;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 4px;
  &.w-800{
    width: 800px;
  }
  // 공통 사이즈 class
  @for $i from 1 through 20 {
    &.w-#{100*$i} {
      width: #{100*$i}px;
    }
  }
  @for $i from 1 through 100 {
    &.h-#{20*$i} {
      height: #{20*$i}px;
    }
  }
  .header{
    position: relative;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
    h3{
      margin: 0;
      color: #333333;
      font-size: 19px;
      line-height: 36px;
      vertical-align: middle;
    }
    a.btn-close-pop{
      position: absolute;
      display: inline-block;
      right: 0;
      top: 0;
      width: 36px;
      height: 36px;
      background-image: url('../images/icon_close_pop.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .body{
    margin-left: -40px;
    width: calc(100% + (40px * 2));
    padding: 0 40px;
    max-height: calc(100vh - 240px);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    h4{
      font-size: 16px;
      color: #333333;
      margin: 20px 0 10px 0;
    }
    .board-content{
      max-height: calc(100% - 220px);
      overflow-y: auto;
    }
  }
  .footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    .btn{
      min-width: 62px;
      vertical-align: bottom;
    }
    @include flex-between
  }
}