.list-wrap{
  .list-topper{
    @include flex-between($align:flex-end);
    .table-title{
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      color: #333333;
      white-space: nowrap;
    }
    .list-count{
      position: relative;
      display: inline-block;
      font-size: 14px;
      color: #333333;
      font-weight: 700;
      margin-left: 14px;
      padding-left: 14px;
      white-space: nowrap;
      .count{
        color: $danger;
      }
      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 4px;
        height: 10px;
        border-right: 1px solid #070707;
      }
    }
    .suffix{
      display: flex;
      gap: 16px;
      .btn{
        color: #333333;
      }
    }
  }
  .table-wrap{
    overflow: auto;
    border-radius: 4px;
    border: 1px solid #dddddd;
    min-height: 80px;
    transition: height $listFoldDuration;
    table{
      width: 100%;
      table-layout: fixed;
      th, td{
        text-align: center;
        border: 1px solid #dddddd;
        &:first-child{
          border-left: 0;
        }
        &:last-child{
          border-right: 0;
        }
      }
      th{
        padding: 6px 0;
        background-color: #4c556b;
        color: #ffffff;
        font-size: 13px;
      }
      td{
        padding: 6px 0;
        font-size: 13px;
        color: #333333;
      }
      tr{
        &:first-child{
          th, td{
            border-top: 0;
          }
        }
        &:last-child{
          th, td{
            // border-bottom: 0;
          }
        }
      }
      .sticky{
        position: sticky;
        top: 0;
        z-index: $zindexListSticky;
      }
      .editable{
        box-shadow: 0 0 2px 1px #78a2ef;
        td{
          &:first-child{
            border-left: 1px solid #78a2ef;
          }
          &:last-child{
            border-right: 1px solid #78a2ef;
          }
        }
      }
      tbody{
        tr{
          &.selected, &:hover{
            background-color: $listHoverBg;
          }
        }
      }
    }
    &.layout-fixed{
      table{
        min-width: 100%;
      }
    }
  }
  .list-footer{
    margin-top: 15px;
    @include flex-between($center: 'true');
    .gts-select.step{
      min-width: 80px;
    }
    a.btn{
      min-width: 80px;
      &.sm{
        min-width: 0;
      }
    }
    .total{
      display: inline-block;
      font-size: 12px;
      color: #777777;
    }
  }
  .table-group{
    overflow: auto;
  }
}