.list-search-box{
  position: relative;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 8px 108px 8px 18px;
  .search-item{
    display: inline-block;
    margin: 2px;
    label{
      margin-right: 10px;
      font-size: 14px;
      font-weight: 700;
      color: #333333;
    }
  }
  .require{
    &:before{
      content: '*';
      color: #ff5252;
      margin: 2px;
    }
  }
  .btn-search{
    position: absolute;
    width: 77px;
    right: 21px;
    bottom: 10px;
  }
}             