.list-search-box{
  position: relative;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px 110px 10px 20px;
  .search-item{
    display: inline-block;
    label{
      margin-right: 10px;
      font-size: 14px;
      font-weight: 700;
      color: #333333;
    }
  }
  .btn-search{
    position: absolute;
    width: 77px;
    right: 21px;
    bottom: 10px;
  }
}             