@mixin flex-between($justify : space-between, $align : center, $center: 'false'){
  &.flex-group{
    display: flex;
    @if $justify {
      justify-content: #{$justify};
    }
    @if $align {
      align-items: #{$align};
    }
    @if $center == 'true'{
      position: relative;
    }
    .prefix{}
    .center{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .suffix{}
  }
}
@mixin tab{
  .tab-container{
    .tab{
    }
    .tab-content-wrap{
      .tab-content{
        display: none;
        &.on{
          display: block;
        }
      }
    }
  }
}
