.open-contents-status-bar{
  $statusBar : 48px;
  position: absolute;
  left: 0;
  top: 0;
  height: $statusBar;
  width: 100%;
  background-color: #f8f8f8;
  padding-left: $contentPadPc;
  padding-right: $contentPadPc;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
  transition: .3s;
  @include flex-between($align : flex-end);
  
  .btn.reset{
    width: 97px;
    margin-bottom: 6px;
  }
  & + .title-header{
    margin-top: 8px;
  }
  .prefix{
    position: relative;
    .editable-tab{
      max-width: 1300px;
      overflow: auto;
      .tab{
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .nav{
      display: inline-flex;
      position: absolute;
      right: -65px;
      bottom: 7px;
      background: #f8f8f8;
      gap: 6px;
      button{
        flex: 1 1 auto;
        border: 0;
        background-color: transparent;
        // width: 40px;
        // height: 30px;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
      }
    }
  }
}