.open-contents-status-bar{
  $statusBar : 48px;
  position: absolute;
  left: 0;
  top: 0;
  height: $statusBar;
  width: 100%;
  background-color: #f8f8f8;
  padding-left: $contentPadPc;
  padding-right: $contentPadPc;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
  @include flex-between($align : flex-end);
  .editable-tab{
    display: flex;
    .tab{
      position: relative;
      display: inline-block;
      height: 32px;
      flex: 1 0 150px;
      padding: 8px 16px 6px 16px;
      background-color: #fafafa;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-bottom: -1px;
      box-sizing: border-box;
      line-height: 1;
      cursor: pointer;
      &.on{
        border-bottom: 1px solid #ffffff;
        background-color: #ffffff;
        color: $success2;
        font-weight: 700;
      }
      .btn-delete{
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        &:hover{
          background-color: $gray01;
        }
      }
    }
  }
  .btn.reset{
    width: 97px;
    margin-bottom: 6px;
  }
  & + .title-header{
    margin-top: 8px;
  }
}