.part-list-manage{
  margin-top: 10px;
  .trade-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .trade-item{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    .list-topper{
      margin-bottom: 5px;
    }
    .trade-btn-group{
      margin-left: 20px;
      margin-right: 25px;
      .btn{
        margin: 3px 0;
      }
      .btn.to-left{
        img{
          transform: rotate(90deg);
        }
      }
      .btn.to-right{
        img{
          transform: rotate(-90deg);
        }
      }
    }
  }
  .list-search-box{
    display: block;
    .search-item{
      display: flex;
      align-items: center;
    }
  }
}