.part-list-manage{
  margin-top: 10px;
  .trade-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .trade-item{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    .list-topper{
      margin-bottom: 5px;
    }
  }
}