.portlet-grid.grid{
  $itemWidth : 373px;
  $itemHeight : 460px;
  $gap: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(($itemWidth * 4) + ($gap * 3));
  min-width: calc(($itemWidth * 3) + ($gap * 2));
  width: 100%;
  gap: $gap;
  .grid-item{
    width: $itemWidth;
    height: $itemHeight;
    background-color: yellowgreen;
    margin-bottom: 10px;
    font-size: 50px;
    @for $i from 2 to 3{
      &.by-#{$i}-width{
        width: calc(($itemWidth * $i) + ($gap * ($i - 1)));
      }
      &.by-#{$i}-height{
        height: calc(($itemHeight * $i) + ($gap * ($i - 1)));
      }
    }
  }
}