.portlet-grid.grid{
  $itemWidth : 373px;
  $itemHeight : 460px;
  $gap: 10px;
  display: flex;
  flex-wrap: wrap;
  width: calc(($itemWidth * 4) + ($gap * 3));
  gap: $gap;
  .grid-item{
    width: $itemWidth;
    height: $itemHeight;
    background-color: yellowgreen;
    @for $i from 2 to 3{
      &.by-#{$i}-parallel{
        width: calc(($itemWidth * $i) + ($gap * ($i - 1)));
      }
    }
    &.height-2{
      height: 510px;
    }
    &.height-3{
      height: 770px;
    }
  }
}