.portlet-grid.grid{
  $itemWidth : 373px;
  $itemHeight : 460px;
  $gap: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(($itemWidth * 4) + ($gap * 3));
  min-width: calc(($itemWidth * 3) + ($gap * 2));
  width: 100%;
  gap: $gap;
  .grid-item{
    width: $itemWidth;
    height: $itemHeight;
    background-color: #ffffff;
    border: 1px solid $gray02;
    border-radius: 4px;
    overflow: hidden;
    > .title{
      font-size: 14px;
      font-weight: 700;
      color: #333333;
      height: 40px;
      padding: 0 20px;
      background-color: #fafafa;
      border-bottom: 1px solid #dddddd;
      @include flex-between;
      .util-group{
        display: flex;
        justify-content: flex-end;
        gap: 12px;
        a{
          display: inline-block;
          &.handler-move{
            cursor: move;
          }
        }
      }
    }
    .front, .rear{
      display: none;
    }
    &.is-dragging{
      border-color: #72a5ff;
      z-index: 1;
      .title{
        border-bottom-color: #72a5ff;
        background-color: #f0f5fd;
        color: #2565d6;
        box-shadow: 0 2px 0 0 rgba(156, 189, 240, 0.3);
      }
    }
    &.dragover{
      position: relative;
      display: flex;
      &.front, &.rear{
        display: inline-block;
        position: relative;
        flex: 1 1 50%;
        opacity: 0.3;
        &:before{
          content: '';
          display: inline-block;
          position: absolute;
          width: 50%;
          top: 0;
          left: 0;
          height: 100%;
          background: linear-gradient(-90deg, rgba(0,0,0,0%) 80%, rgba(0,0,0,100%) 100%);
          opacity: 0.3;
        }
      }
      &.rear{
        &:before{
          left: auto;
          right: 0;
          background: linear-gradient(90deg, rgba(0,0,0,0%) 80%, rgba(0,0,0,100%) 100%);
        }
      }
    }
    @for $i from 2 through 3{
      &.by-#{$i}-width{
        width: ($itemWidth * $i) + ($gap * ($i - 1));
      }
      &.by-#{$i}-height{
        height: calc(($itemHeight * $i) + ($gap * ($i - 1)));
      }
    }
  }
}