.product-make-manual{
  .img-wrap{
    width: 150px;
    padding: 0 5px;
    img{
      width: 100%;
    }
  }
  .vertical{
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  &.list-wrap{
    .table-wrap{
      table{
        td{
          &:last-child{
            border-right: 1px solid #DDD;
          }
        }
      }
    }
  }
}