.raw-material-application-table{
  .pd-5{
    padding: 5px;
  }
  .expect-quantity-list{
    margin: 10px 0;
    $columnWidth1: 200px;
    $columnWidth2: 180px;
    $columnWidth3: 150px;
    border: 1px solid #DDD;
    width: ($columnWidth1 + $columnWidth2 + $columnWidth3);
    box-sizing: border-box;
    .thead{
      display: flex;
      width: 100%;
      .th{
        &:nth-of-type(1){
          flex: 0 0 $columnWidth1;
        }
        &:nth-of-type(2){
          flex: 0 0 $columnWidth2;
        }
        &:nth-of-type(3){
          flex: 0 0 $columnWidth3;
        }
        &:nth-last-of-type(1){
          border-right: 0;
        }
        padding: 5px;
        border-right: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        box-sizing: border-box;
      }
    }
    >ul{
      >li{
        display: flex;
        width: 100%;
        .td{
          &:nth-of-type(1){
            flex: 0 0 $columnWidth1;
            width: $columnWidth1;
          }
          &:nth-of-type(2){
            flex: 0 0 $columnWidth2;
            width: $columnWidth2;
          }
          &:nth-of-type(3){
            flex: 0 0 $columnWidth3;
            width: $columnWidth3;
          }
          &:nth-last-of-type(1){
            border-right: 0;
          }
          padding: 5px;
          border-right: 1px solid #DDD;
          border-bottom: 1px solid #DDD;
          box-sizing: border-box;
        }
      }
    }
    .total{
      display: flex;
      align-items: center;
      padding: 10px 5px;
      box-sizing: border-box;
      label{
        text-align: right;
        font-weight: 700;
        padding-right: 10px;
        flex: 0 0 ($columnWidth1 + $columnWidth2);
        width: ($columnWidth1 + $columnWidth2);
        box-sizing: border-box;
      }
    }
  }
  input.gts-input,
  select.gts-input{
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .grid-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    .grid-container{
      overflow: auto;
      &:nth-of-type(2),
      &:nth-of-type(3){

      }

      &:nth-of-type(3),
      &:nth-of-type(4){
        table{
          thead{
            height: 85px;
          }
          tbody{
            td{
              height: 30px;
              white-space: nowrap;
            }
          }
        }
      }
      &:nth-of-type(4){
        .list-wrap{
          table{
            th, td{
              &.sticky-left{
                &:nth-of-type(1){
                  left: 0;
                }
                &:nth-of-type(2){
                  left: 80px;
                }
              }

            }
          }
        }
      }
    }
    .table-wrap, .standard-table{
      height: 100%;
      box-sizing: border-box;
    }
  }
  .dev-schedule-of-items{
    &.list-wrap{
      .table-wrap{
        table{
          tbody{
            tr{
              &:nth-of-type(1){
                td{
                  height: 100px;
                }
              }
              &:nth-of-type(2){
                th.sticky-left{
                  &:nth-of-type(1){
                    left: 0;
                  }
                  &:nth-of-type(2){
                    left: 80px;
                  }
                }
              }
              &:nth-of-type(n+3){
                th.sticky-left{
                  &:nth-of-type(1){
                    left: 80px;
                  }
                }
              }
              &.sticky{
                td{
                  background-color: #FFF;
                }
              }
              th{
                font-size: 12px;
                font-weight: 400;
              }
              td{
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}