.schedule-table{
  background-color: #FFF;
  thead{
    th{
      font-size: 13px;
      font-weight: 700;
    }
  }
  tbody{
    td{
      position: relative;
      font-size: 13px;

    }
  }
  .month{
    td{
      background-color: #eee;
    }
  }
  .graph-wrap{
    td{
      height: 100px;
      &:first-child{
        border-right: 1px solid #777;
      }
    }
    th.bg-skyblue{
      background-color: #f0f5fd;
      color: #333;
      border-bottom: 1px solid #dddddd;
    }
    &.border-bottom{
      td{
        border-bottom: 1px solid #777;
      }
    }
  }
  .part{
    display: flex;
    width: 100%;
    height: 100%;
    .branch{
      position: relative;
      flex: 0 0 33%;
      em{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        .label{
          position: absolute;
          left: -30px;
          width: 70px;
          top: 17px;
          font-size: 12px;
          letter-spacing: -0.5px;
          line-height: 1;
          color: #333;
          font-style: normal;
        }
        &.circle{
          display: inline-flex;
          width: 20px;
          height: 20px;
          align-items: center;
          justify-content: center;
          color: #FFF;
          font-size: 12px;
          letter-spacing: -0.72px;
          line-height: 1;
          border-radius: 50%;
        }
      }
      &.upper{
        em{
          top: 10%;
        }
      }
      &.mid{
        em{
          top: 50%;
        }
      }
      &.lower{
        em{
          top: 90%;
        }
      }
    }
  }
  .range{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #2565d6;
    &.upper{
      top: 20%;
    }
    &.lower{
      top: 80%;
    }
  }
  .range-line{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    background-color: #AAA;
    &.upper{
      top: 20%;
    }
    &.lower{
      top: 80%;
    }
  }
}