// 현대 theme : default
.theme-hyundai{
}
// 기아 theme
.theme-kia{
  .gts-gnb{
    background-color: $themeKiaBg;
    .gnb-menu{
      a{
        [class*="icon-"]{
          background-image: url('../images/gnb_menu_icons_kia.png');
        }
      }
    }
  }
  .gts-lnb{
    background-color: $themeKiaLnbBg;
    border-right: 1px solid #8390ad;
    .tab-container{
      .header{
        .tab{
          background-color: #c5ccdb;
          color: #8590a6;
          &.on{
            background-color: $themeKiaLnbBg;
            color: #05151e;
            .icon-star{
              background-image: url('../images/icon_star_on_black.png');
            }
            .icon-time{
              background-image: url('../images/icon_time_on_black.png');
            }
            .icon-allmenu{
              background-image: url('../images/icon_allmenu_on_black.png');
            }
          }
        }
      }
      .footer{
        background-color: $themeKiaLnbBg;
      }
    }
  }
  .fold-lnb{
    .gts-lnb{
      background-color: #767676;
      .tab-container{
        .header{
          .tab{
            display: inline-flex;
            flex-direction: column;
            background-color: #767676;
            width: 54px;
            margin-bottom: 4px;
            color: #ffffff;
            .icon-star{
              background-image: url('../images/icon_star_white.png');
            }
            .icon-time{
              background-image: url('../images/icon_time_white.png');
            }
            .icon-allmenu{
              background-image: url('../images/icon_allmenu_white.png');
            }
            &:hover{
              color: #05151e;
              .icon-star{
                background-image: url('../images/icon_star_filled_gray.svg');
              }
              .icon-time{
                background-image: url('../images/icon_time_filled_gray.png');
              }
              .icon-allmenu{
                background-image: url('../images/icon_allmenu_filled_gray.png');
              }
            }
            &.on{
              background-color: #ffffff;
              color: #05151e;
              font-weight: 700;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              border-right: 1px solid #ffffff;
              margin-right: -1px;
              box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
              .icon-star{
                background-image: url('../images/icon_star_gray.png');
              }
              .icon-time{
                background-image: url('../images/icon_time_gray.png');
              }
              .icon-allmenu{
                background-image: url('../images/icon_allmenu_gray.png');
              }
            }
          }
        }
      }
    }
  }
}