
$gnbHeight: 80px;
$gnbHeightTablet: 72px;
$gnbHeightMobile: 54px;
$footerHeight: 60px;
$topBannerHeight: 54px;
$gnbPad: 40px;
$searchWidth: 420px;
$lnbWidth: 256px;

$lnbDuration: 0.3s;

$contentWidthPc: 1280px;
$contentPadPc: 16px;
$contentPadTablet: 24px;
$contentPadMobile: 20px;

// color
$gray01: #F3F3F3;
$gray02: #B6B6B6;
$gray03: #A5A5A5;
$gray04: #808080;
$gray05: #444444;
$gray06: #1B1B1B;
$red: #E63312;
$primary: #5584FF;